<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huihong.qike.mapper.OrderDtlMapper">
  <resultMap id="BaseResultMap" type="com.huihong.qike.pojo.OrderDtl">
    <id column="orderDtlId" jdbcType="INTEGER" property="orderdtlid" />
    <result column="lastUpdateTime" jdbcType="TIMESTAMP" property="lastupdatetime" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="orderId" jdbcType="INTEGER" property="orderid" />
    <result column="prodcutDtlID" jdbcType="INTEGER" property="prodcutdtlid" />
    <result column="productColorId" jdbcType="INTEGER" property="productcolorid" />
    <result column="productAttrId" jdbcType="INTEGER" property="productattrid" />
    <result column="productAmount" jdbcType="INTEGER" property="productamount" />
    <result column="productPrice" jdbcType="DECIMAL" property="productprice" />
    <result column="integration" jdbcType="INTEGER" property="integration" />
    <result column="detailPic" jdbcType="VARCHAR" property="detailpic" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    orderDtlId, lastUpdateTime, createTime, orderId, prodcutDtlID, productColorId, productAttrId, 
    productAmount, productPrice, integration, detailPic
  </sql>
  <select id="selectByExample" parameterType="com.huihong.qike.pojo.OrderDtlExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_dtl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_dtl
    where orderDtlId = #{orderdtlid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_dtl
    where orderDtlId = #{orderdtlid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.huihong.qike.pojo.OrderDtlExample">
    delete from order_dtl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huihong.qike.pojo.OrderDtl">
    insert into order_dtl (orderDtlId, lastUpdateTime, createTime, 
      orderId, prodcutDtlID, productColorId, 
      productAttrId, productAmount, productPrice, 
      integration, detailPic)
    values (#{orderdtlid,jdbcType=INTEGER}, #{lastupdatetime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, 
      #{orderid,jdbcType=INTEGER}, #{prodcutdtlid,jdbcType=INTEGER}, #{productcolorid,jdbcType=INTEGER}, 
      #{productattrid,jdbcType=INTEGER}, #{productamount,jdbcType=INTEGER}, #{productprice,jdbcType=DECIMAL}, 
      #{integration,jdbcType=INTEGER}, #{detailpic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huihong.qike.pojo.OrderDtl">
    insert into order_dtl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderdtlid != null">
        orderDtlId,
      </if>
      <if test="lastupdatetime != null">
        lastUpdateTime,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="orderid != null">
        orderId,
      </if>
      <if test="prodcutdtlid != null">
        prodcutDtlID,
      </if>
      <if test="productcolorid != null">
        productColorId,
      </if>
      <if test="productattrid != null">
        productAttrId,
      </if>
      <if test="productamount != null">
        productAmount,
      </if>
      <if test="productprice != null">
        productPrice,
      </if>
      <if test="integration != null">
        integration,
      </if>
      <if test="detailpic != null">
        detailPic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderdtlid != null">
        #{orderdtlid,jdbcType=INTEGER},
      </if>
      <if test="lastupdatetime != null">
        #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="prodcutdtlid != null">
        #{prodcutdtlid,jdbcType=INTEGER},
      </if>
      <if test="productcolorid != null">
        #{productcolorid,jdbcType=INTEGER},
      </if>
      <if test="productattrid != null">
        #{productattrid,jdbcType=INTEGER},
      </if>
      <if test="productamount != null">
        #{productamount,jdbcType=INTEGER},
      </if>
      <if test="productprice != null">
        #{productprice,jdbcType=DECIMAL},
      </if>
      <if test="integration != null">
        #{integration,jdbcType=INTEGER},
      </if>
      <if test="detailpic != null">
        #{detailpic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huihong.qike.pojo.OrderDtlExample" resultType="java.lang.Integer">
    select count(*) from order_dtl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order_dtl
    <set>
      <if test="record.orderdtlid != null">
        orderDtlId = #{record.orderdtlid,jdbcType=INTEGER},
      </if>
      <if test="record.lastupdatetime != null">
        lastUpdateTime = #{record.lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderid != null">
        orderId = #{record.orderid,jdbcType=INTEGER},
      </if>
      <if test="record.prodcutdtlid != null">
        prodcutDtlID = #{record.prodcutdtlid,jdbcType=INTEGER},
      </if>
      <if test="record.productcolorid != null">
        productColorId = #{record.productcolorid,jdbcType=INTEGER},
      </if>
      <if test="record.productattrid != null">
        productAttrId = #{record.productattrid,jdbcType=INTEGER},
      </if>
      <if test="record.productamount != null">
        productAmount = #{record.productamount,jdbcType=INTEGER},
      </if>
      <if test="record.productprice != null">
        productPrice = #{record.productprice,jdbcType=DECIMAL},
      </if>
      <if test="record.integration != null">
        integration = #{record.integration,jdbcType=INTEGER},
      </if>
      <if test="record.detailpic != null">
        detailPic = #{record.detailpic,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order_dtl
    set orderDtlId = #{record.orderdtlid,jdbcType=INTEGER},
      lastUpdateTime = #{record.lastupdatetime,jdbcType=TIMESTAMP},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      orderId = #{record.orderid,jdbcType=INTEGER},
      prodcutDtlID = #{record.prodcutdtlid,jdbcType=INTEGER},
      productColorId = #{record.productcolorid,jdbcType=INTEGER},
      productAttrId = #{record.productattrid,jdbcType=INTEGER},
      productAmount = #{record.productamount,jdbcType=INTEGER},
      productPrice = #{record.productprice,jdbcType=DECIMAL},
      integration = #{record.integration,jdbcType=INTEGER},
      detailPic = #{record.detailpic,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huihong.qike.pojo.OrderDtl">
    update order_dtl
    <set>
      <if test="lastupdatetime != null">
        lastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderid != null">
        orderId = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="prodcutdtlid != null">
        prodcutDtlID = #{prodcutdtlid,jdbcType=INTEGER},
      </if>
      <if test="productcolorid != null">
        productColorId = #{productcolorid,jdbcType=INTEGER},
      </if>
      <if test="productattrid != null">
        productAttrId = #{productattrid,jdbcType=INTEGER},
      </if>
      <if test="productamount != null">
        productAmount = #{productamount,jdbcType=INTEGER},
      </if>
      <if test="productprice != null">
        productPrice = #{productprice,jdbcType=DECIMAL},
      </if>
      <if test="integration != null">
        integration = #{integration,jdbcType=INTEGER},
      </if>
      <if test="detailpic != null">
        detailPic = #{detailpic,jdbcType=VARCHAR},
      </if>
    </set>
    where orderDtlId = #{orderdtlid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huihong.qike.pojo.OrderDtl">
    update order_dtl
    set lastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      orderId = #{orderid,jdbcType=INTEGER},
      prodcutDtlID = #{prodcutdtlid,jdbcType=INTEGER},
      productColorId = #{productcolorid,jdbcType=INTEGER},
      productAttrId = #{productattrid,jdbcType=INTEGER},
      productAmount = #{productamount,jdbcType=INTEGER},
      productPrice = #{productprice,jdbcType=DECIMAL},
      integration = #{integration,jdbcType=INTEGER},
      detailPic = #{detailpic,jdbcType=VARCHAR}
    where orderDtlId = #{orderdtlid,jdbcType=INTEGER}
  </update>
</mapper>