<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huihong.qike.mapper.ProductDetailMapper">
  <resultMap id="BaseResultMap" type="com.huihong.qike.pojo.ProductDetail">
    <id column="productDetailId" jdbcType="INTEGER" property="productDetailId" />
    <result column="lastUpdateTime" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="detailPic" jdbcType="VARCHAR" property="detailPic" />
    <result column="productId" jdbcType="INTEGER" property="productId" />
    <result column="productColorId" jdbcType="INTEGER" property="productColorId" />
    <result column="productAttrId" jdbcType="INTEGER" property="productAttrId" />
    <result column="productAmount" jdbcType="INTEGER" property="productAmount" />
    <result column="productPrice" jdbcType="DECIMAL" property="productPrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    productDetailId, lastUpdateTime, createTime, detailPic, productId, productColorId, 
    productAttrId, productAmount, productPrice
  </sql>
  <select id="selectByExample" parameterType="com.huihong.qike.pojo.ProductDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_detail
    where productDetailId = #{productDetailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product_detail
    where productDetailId = #{productDetailId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.huihong.qike.pojo.ProductDetailExample">
    delete from product_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huihong.qike.pojo.ProductDetail">
    insert into product_detail (productDetailId, lastUpdateTime, 
      createTime, detailPic, productId, 
      productColorId, productAttrId, productAmount, 
      productPrice)
    values (#{productDetailId,jdbcType=INTEGER}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{detailPic,jdbcType=VARCHAR}, #{productId,jdbcType=INTEGER}, 
      #{productColorId,jdbcType=INTEGER}, #{productAttrId,jdbcType=INTEGER}, #{productAmount,jdbcType=INTEGER}, 
      #{productPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.huihong.qike.pojo.ProductDetail">
    insert into product_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productDetailId != null">
        productDetailId,
      </if>
      <if test="lastUpdateTime != null">
        lastUpdateTime,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="detailPic != null">
        detailPic,
      </if>
      <if test="productId != null">
        productId,
      </if>
      <if test="productColorId != null">
        productColorId,
      </if>
      <if test="productAttrId != null">
        productAttrId,
      </if>
      <if test="productAmount != null">
        productAmount,
      </if>
      <if test="productPrice != null">
        productPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productDetailId != null">
        #{productDetailId,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailPic != null">
        #{detailPic,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productColorId != null">
        #{productColorId,jdbcType=INTEGER},
      </if>
      <if test="productAttrId != null">
        #{productAttrId,jdbcType=INTEGER},
      </if>
      <if test="productAmount != null">
        #{productAmount,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huihong.qike.pojo.ProductDetailExample" resultType="java.lang.Integer">
    select count(*) from product_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product_detail
    <set>
      <if test="record.productDetailId != null">
        productDetailId = #{record.productDetailId,jdbcType=INTEGER},
      </if>
      <if test="record.lastUpdateTime != null">
        lastUpdateTime = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.detailPic != null">
        detailPic = #{record.detailPic,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null">
        productId = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.productColorId != null">
        productColorId = #{record.productColorId,jdbcType=INTEGER},
      </if>
      <if test="record.productAttrId != null">
        productAttrId = #{record.productAttrId,jdbcType=INTEGER},
      </if>
      <if test="record.productAmount != null">
        productAmount = #{record.productAmount,jdbcType=INTEGER},
      </if>
      <if test="record.productPrice != null">
        productPrice = #{record.productPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product_detail
    set productDetailId = #{record.productDetailId,jdbcType=INTEGER},
      lastUpdateTime = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      detailPic = #{record.detailPic,jdbcType=VARCHAR},
      productId = #{record.productId,jdbcType=INTEGER},
      productColorId = #{record.productColorId,jdbcType=INTEGER},
      productAttrId = #{record.productAttrId,jdbcType=INTEGER},
      productAmount = #{record.productAmount,jdbcType=INTEGER},
      productPrice = #{record.productPrice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huihong.qike.pojo.ProductDetail">
    update product_detail
    <set>
      <if test="lastUpdateTime != null">
        lastUpdateTime = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailPic != null">
        detailPic = #{detailPic,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        productId = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productColorId != null">
        productColorId = #{productColorId,jdbcType=INTEGER},
      </if>
      <if test="productAttrId != null">
        productAttrId = #{productAttrId,jdbcType=INTEGER},
      </if>
      <if test="productAmount != null">
        productAmount = #{productAmount,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        productPrice = #{productPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where productDetailId = #{productDetailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huihong.qike.pojo.ProductDetail">
    update product_detail
    set lastUpdateTime = #{lastUpdateTime,jdbcType=TIMESTAMP},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      detailPic = #{detailPic,jdbcType=VARCHAR},
      productId = #{productId,jdbcType=INTEGER},
      productColorId = #{productColorId,jdbcType=INTEGER},
      productAttrId = #{productAttrId,jdbcType=INTEGER},
      productAmount = #{productAmount,jdbcType=INTEGER},
      productPrice = #{productPrice,jdbcType=DECIMAL}
    where productDetailId = #{productDetailId,jdbcType=INTEGER}
  </update>
</mapper>