<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huihong.qike.mapper.ProductAttrMapper">
  <resultMap id="BaseResultMap" type="com.huihong.qike.pojo.ProductAttr">
    <id column="productAttrId" jdbcType="INTEGER" property="productAttrId" />
    <result column="productId" jdbcType="INTEGER" property="productId" />
    <result column="atrrCode" jdbcType="VARCHAR" property="atrrCode" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="typeValue" jdbcType="VARCHAR" property="typeValue" />
    <result column="typeName" jdbcType="VARCHAR" property="typeName" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastUpdateTime" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    productAttrId, productId, atrrCode, userId, typeValue, typeName, createTime, lastUpdateTime
  </sql>
  <select id="selectByExample" parameterType="com.huihong.qike.pojo.ProductAttrExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_attr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_attr
    where productAttrId = #{productAttrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product_attr
    where productAttrId = #{productAttrId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.huihong.qike.pojo.ProductAttrExample">
    delete from product_attr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huihong.qike.pojo.ProductAttr">
    insert into product_attr (productAttrId, productId, atrrCode, 
      userId, typeValue, typeName, 
      createTime, lastUpdateTime)
    values (#{productAttrId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{atrrCode,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{typeValue,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.huihong.qike.pojo.ProductAttr">
    insert into product_attr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productAttrId != null">
        productAttrId,
      </if>
      <if test="productId != null">
        productId,
      </if>
      <if test="atrrCode != null">
        atrrCode,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="typeValue != null">
        typeValue,
      </if>
      <if test="typeName != null">
        typeName,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="lastUpdateTime != null">
        lastUpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productAttrId != null">
        #{productAttrId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="atrrCode != null">
        #{atrrCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="typeValue != null">
        #{typeValue,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huihong.qike.pojo.ProductAttrExample" resultType="java.lang.Integer">
    select count(*) from product_attr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product_attr
    <set>
      <if test="record.productAttrId != null">
        productAttrId = #{record.productAttrId,jdbcType=INTEGER},
      </if>
      <if test="record.productId != null">
        productId = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.atrrCode != null">
        atrrCode = #{record.atrrCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        userId = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.typeValue != null">
        typeValue = #{record.typeValue,jdbcType=VARCHAR},
      </if>
      <if test="record.typeName != null">
        typeName = #{record.typeName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateTime != null">
        lastUpdateTime = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product_attr
    set productAttrId = #{record.productAttrId,jdbcType=INTEGER},
      productId = #{record.productId,jdbcType=INTEGER},
      atrrCode = #{record.atrrCode,jdbcType=VARCHAR},
      userId = #{record.userId,jdbcType=INTEGER},
      typeValue = #{record.typeValue,jdbcType=VARCHAR},
      typeName = #{record.typeName,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      lastUpdateTime = #{record.lastUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huihong.qike.pojo.ProductAttr">
    update product_attr
    <set>
      <if test="productId != null">
        productId = #{productId,jdbcType=INTEGER},
      </if>
      <if test="atrrCode != null">
        atrrCode = #{atrrCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="typeValue != null">
        typeValue = #{typeValue,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        typeName = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        lastUpdateTime = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where productAttrId = #{productAttrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huihong.qike.pojo.ProductAttr">
    update product_attr
    set productId = #{productId,jdbcType=INTEGER},
      atrrCode = #{atrrCode,jdbcType=VARCHAR},
      userId = #{userId,jdbcType=INTEGER},
      typeValue = #{typeValue,jdbcType=VARCHAR},
      typeName = #{typeName,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      lastUpdateTime = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where productAttrId = #{productAttrId,jdbcType=INTEGER}
  </update>
</mapper>